* {
    box-sizing: border-box;
}
.accueil {
    background-color: rgb(15,15,15);
}

.index{
    background-image: url(../images/mer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    text-align: center;
    background-color: rgba(11,0,110,0.3);
    margin: 1em!important;
    color: #fff;
}

p{
    font-size: 1em;
}

span {
    font-size: 2em;
    text-transform: uppercase;
    color: rgb(4, 59, 40);
    font-weight: bold;
}

marquee{
    font-size: 1.8em; 
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    letter-spacing: 0.2em;
}
.element-row{
    margin-top: 10em;
    display: flex;
    justify-content: center;
}
.fenetre h1 {
    font-size: 3em;
    color: #fff;
    background-color: rgba(11,0,110,0.1);
    font-weight:bold;
    text-transform: uppercase;
    margin:  0!important;
    margin-top: 1em!important;
}
.fenetre{
    background-image: url("../images/rodo.jpg");
    background-repeat: no-repeat;
    background-size: cover;    
    width: 400px;
    height: 225px;
    color: #fff;
    text-align: center;
    border: 0.7em solid grey;
}
.fenetre a{
    text-decoration: none;
    color: #fff;
}
.date{
    font-size: 4em;
    color: #fff;
}
.click{
    font-size: 3em;
}
.annee{
    text-align: center;
}
.fa-tint {
    color: rgb(160,160,160);
    position: absolute;
    top: -3em;
    animation: fall linear forwards;
}
@keyframes fall {
    to {
        transform: translateY(105vh);
    }
}
.images {
    display: flex;
    justify-content: center;
}
.presentation-row {
        display: flex;
        justify-content: center;
        margin: 1em;
}
.citation{
    display: flex;
    justify-content: center;
    font-size: 1.7em;
    font-weight: bold;
    font-style: italic;
    color: rgb(13, 59, 4);
}
#mandela{
    background-color: rgba(4, 59, 40,0.3);
    color: #fff;
}